<p-card [title]='name' [subtitle]='position' [style]="{width: '100%'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="./../../../assets/aldpes photos/{{picture}}"/>
    </p-header>
    <span>Email: {{email}}@purdue.edu</span>
    <br>
    <div *ngFor="let major of majors; let i=index">
        <span *ngIf="i === 0">Major: {{major}}</span>
        <span *ngIf="i !== 0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{major}}</span>
        <br/>    
    </div>
    <span>Hometown: {{hometown}}</span>
    <br>
    <br *ngIf="major == ''">
</p-card>