<div class="ui-g">
  <div class="ui-g-12">

    <app-scholarship-card 
      name='James G. Stemler Study Abroad Scholarships' 
      [descriptions]="['Each year, National Alpha Lambda Delta awards 20 scholarships to outstanding undergraduate members to support their educational opportunities as part of study abroad programs. There are ten $1,000 scholarships and ten $2,000 scholarships. Candidates will be considered on the basis of merit.', 'The application can be found online at: http://www.nationalald.org/stemler/', 'You must submit your application by February 21, 2020.']">
    </app-scholarship-card>

    <app-scholarship-card 
      name='Jo Anne J. Trow Undergraduate Scholarship' 
      [descriptions]="['The National Council offers 37 Jo Anne J. Trow Undergraduate Scholarships annually, ranging from $1,000 to $6,000 each. There are five at $6,000, six at $3,000, five at $2,000, and 21 at $1,000 each. Sophomores who were initiated into Alpha Lambda Delta between January 1 and December 31, 2018 and who have maintained a 3.5 cumulative grade point average are eligible to apply.', 'The application can be found online at: http://www.nationalald.org/trow/', 'Purdue can submit three applications to the national chapter for consideration. COMPLETE Applications must be submitted online NO LATER than Monday, March 23, 2020. This will give the Purdue chapter time to name the three finalists for national competition by the National deadline.', 'If you have questions, please email chapter advisor Dr. Susan Huffman at smhuffman@purdue.edu.']">
    </app-scholarship-card>
  
    <app-scholarship-card 
      name='Thomas Arkle Clark Scholar-Leader of the Year Endowed Scholarship' 
      [descriptions]="['Named in honor of the founder and first Grand President of Phi Eta Sigma. Awarded for the first time in the 2006-2007 academic year, this schlarship, valued at $10,000, is presented each year to the member who, in the judgement of the Scholarship Committee, best exemplifies the ideas of Phi Eta Sigma, The Clar Scholar-Leader is selected each year from among the entire pool of scholarship applicants, both graduate and undergraduate.']">
    </app-scholarship-card>

    <div class="ui-g-12">
      <p-card>
        <h2>
          Phi Eta Sigma Graduate & Undergraduate Scholarships
        </h2>
        <p>
          Scholarships range in value from $1,000 to $5,000 for undergraduates and up to $7,000 for graduate students. Both graduate and undergraduate students with a 3.5 GPA are eligible to apply for this scholarship. The same form is used for both graduate and undergraduate (Sophomore & Junior) applicants.
        </p> 
        <p>
          Go to https://www.phietasigma.org/how_to_apply for more instructions and to access the application AFTER February 1, 2019. 
        </p> 
        <p>
          Applicants for the graduate scholarship may submit their COMPLETE application online directly to the national office NO LATER than May 1, 2019.
        </p>
        <p>
          Undergraduate applicants must submit their COMPLETE application online to the national office NO LATER than April 27, 2020 so that the local chapter can select their top three finalists for the national competition.
        </p>
        <p>
          For questions, please contact advisor Dr. Susan Huffman at smhuffman@purdue.edu
        </p>
      </p-card>
    </div>
  </div>
</div>