div {
    text-align: center;
}

.left-right-padding {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

::ng-deep .ui-widget-content {
    border-color: black !important;
    -webkit-box-shadow:1px 1px 1px black;
    -moz-box-shadow:1px 1px 1px black;
    box-shadow:1px 1px 1px black;
}

::ng-deep .ui-card-body {
    background: #C28E0E !important;
}