<!--The content below is only a placeholder and can be replaced.-->
<div class="ui-g">
  <div class="ui-g-12">
    <app-header (selected)="onSelected($event)"></app-header>
  </div>
 
  <div class="ui-g-12">
  
  </div>
  
  <!-- Home -->
  <div [hidden]="selected_tab !== 'home'" class="ui-g-12">

    <div class="ui-g-9" style="height: 100%;">
      <!-- <ngx-image-gallery 
        [images]="images" 
        [conf]="conf"
      ></ngx-image-gallery> -->
    </div>
    <div class="ui-g-3" style="height: 100%;">
      <a class="twitter-timeline" href="https://twitter.com/LifeAtPurdue?ref_src=twsrc%5Etfw" data-height="100%" data-chrome="nofooter noborders">Tweets by Life@Purdue</a> 
    </div>
  </div>

  <!-- Officers -->
  <div *ngIf="selected_tab === 'officers'" class="ui-g-12">
    <app-officers></app-officers>
  </div>

  <!-- Office Info -->
  <div *ngIf="selected_tab === 'office hours'"  class="ui-g-12">
    <app-office-hours></app-office-hours>
  </div>

  <!-- Meetings -->
  <div *ngIf="selected_tab === 'meetings'" class="ui-g-12">
      <app-meetings></app-meetings>
  </div>

  <!-- History -->
  <div *ngIf="selected_tab === 'history'" class="ui-g-12">
    <app-history></app-history>
  </div>

  <!-- FAQs -->
  <div *ngIf="selected_tab === 'faqs'" class="ui-g-12" id="top">
    <app-faqs></app-faqs>
  </div>

  <!-- Archive -->
  <div *ngIf="selected_tab === 'archive'" class="ui-g-12">

  </div>

  <!-- Other events -->

  <!-- Gallery -->
  <div *ngIf="selected_tab === 'gallery'"  class="ui-g-12">
    <app-gallery></app-gallery>
  </div>

  <!-- Scholarships -->
  <div *ngIf="selected_tab === 'scholarships'" class="ui-g-12">
    <app-scholarships></app-scholarships>
  </div>

  <!-- Links -->
  <div *ngIf="selected_tab === 'links'" class="ui-g-12">
    <app-links></app-links>
  </div>

  <div class="ui-g-12">
    <app-footer></app-footer>
  </div>
</div>