<!--The content below is only a placeholder and can be replaced.-->
<div class="ui-g">
  <div class="ui-g-12">
    <app-header></app-header>
  </div>
 
  <div class="ui-g-12">
  </div>
  
  <div class="ui-g-12">

    <div class="ui-g-9" style="height: 100%;">
      <p-galleria panelWidth="100%" 
      panelHeight="515" 
      [images]="images"
      [showFilmstrip]="true"
      [showCaption]="true"
      effectDuration=100></p-galleria>
    </div>
    <div class="ui-g-3" style="height: 100%;">
      <a class="twitter-timeline" href="https://twitter.com/LifeAtPurdue?ref_src=twsrc%5Etfw" data-height="100%" data-chrome="nofooter noborders">Tweets by Life@Purdue</a> 
    </div>
  </div>
  <div class="ui-g-12">
    <app-footer></app-footer>
  </div> 
</div>